* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex; /* Setzt das Layout des body-Elements auf das Flexbox-Modell */
  flex-direction: column; /* Richtet die Flex-Elemente (Kinder des body-Elements) in einer Spalte (vertikal) aus */
  align-items: center; /* Zentriert die Flex-Elemente horizontal in der Mitte des Containers (body) */
  justify-content: center; /* Zentriert die Flex-Elemente vertikal in der Mitte des Containers (body) */
  min-height: 100vh; /* Stellt sicher, dass das body-Element mindestens die Höhe des Ansichtsfensters hat */
  background-color: #f5f5f5;
  padding: 20px;
}

header,
footer {
  width: 100%;
  text-align: center;
  background-color: #36b5b0;
  color: white;
  padding: 10px 0;
}

.navbar .logo {
  font-family: "Leckerli One", cursive;
  font-size: 64px;
  font-weight: 400;
  line-height: 86.08px;
  text-align: center;
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.navbar .logo:hover {
  animation: swing 0.5s infinite alternate;
  /* Wendet die 'swing'-Animation auf das '.logo'-Element an, wenn es mit der Maus überfahren wird.
                                              
  Die Animation dauert 0,5 Sekunden pro Zyklus, wiederholt sich unendlich oft und wechselt die Richtung in jedem Zyklus. */
}

@keyframes swing {
  0% {
    transform: rotate(
      10deg
    ); /* Am Anfang der Animation (0%) wird das Element um 10 Grad im Uhrzeigersinn gedreht */
  }
  100% {
    transform: rotate(
      -10deg
    ); /* Am Ende der Animation (100%) wird das Element um 10 Grad gegen den Uhrzeigersinn gedreht */
  }
}

main {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
}

main img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
  border-radius: 20px 0 0 0;
}

.main-container {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

section {
  margin-bottom: 20px;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.instructions {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.learn-more {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background: #fcf5b0;
}

.textarea-container::after {
  content: "";
  position: absolute;
  left: 10px; /* Aligns with textarea padding */
  right: 10px; /* Aligns with textarea padding */
  bottom: 10px; /* Aligns with textarea padding */
  height: 2px;
  background: red;
}

footer div {
  margin: 5px 0;
}

footer div:nth-of-type(2) {
  font-weight: 700;
  color: #0000ee;
}
